/* CartWidget.css */

/* Estilo del ícono del carrito */
.nav-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
  }
  
  .bi-cart {
    margin-right: 5px;
  }
  
  .nav-link:hover {
    color: #1e90ff;
  }
  